:root {
  --primary: #5c9090;
  --primary-variant: #235258;
  --secondary: #f7b09d;
  --secondary-variant: #edcabd;
  --white: #f7f6f4;
  --gray: #c8d1cc;
  --gray-variant: #3a4a4c;
  --base-spacing: 4px;
  --border-primary: solid var(--primary-variant) 3px;
  --border-secondary: solid var(--secondary-variant) 3px;
}

h2 {
  background-color: var(--primary);
  margin: calc(var(--base-spacing) * 4);
  padding: calc(var(--base-spacing) * 1);
  color: var(--white);
}

body {
  background-color: var(--white);
  font-family: "Merriweather", serif;
  margin: calc(var(--base-spacing) * 2);
}

p {
  color: var(--gray-variant);
}

a {
  color: var(--gray-variant);
}

a:hover {
  color: var(--secondary);
}

section {
  padding: calc(var(--base-spacing) * 3);
}

section {
  margin-bottom: calc(var(--base-spacing) * 8);
}

section:nth-of-type(odd) {
  background-color: var(--secondary-variant);
}

header {
  background-color: var(--gray);
  padding: calc(var(--base-spacing) * 2);
}

.fas {
  font-size: 48px;
}

nav .fas {
  margin: var(--base-spacing);
  transform: translateX(calc(100vw - 72px));
  position: absolute;
}

/*Layout*/

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
}

img {
  border-radius: 50%;
  box-shadow: calc(var(--base-spacing) * 0.5) var(--base-spacing);
  margin-bottom: 16px;
}

/* figure {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* Nav */
nav ul {
  list-style-type: none;
}

nav a {
  text-decoration: none;
}

nav li {
  padding: var(--base-spacing) 0;
}

ul {
  padding: 0;
  text-align: center;
  list-style-type: none;
}

/* nav a:hover {
  background: var(--secondary-variant);
} */

.is-hidden--mobile {
  font-size: 0;
  height: 0;
}

nav {
  border-top: var(--border-secondary);
  border-bottom: var(--border-secondary);
  min-height: 72px;
}

nav a,
.hero a {
  text-decoration: none;
}

.hero {
  background: url(https://picsum.photos/680/420) center center no-repeat;
  background-size: cover;
  height: 20vh;
  max-height: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero a {
  background-color: var(--secondary);
  padding: var(--base-spacing);
  border-radius: var(--base-spacing);
  box-shadow: calc(var(--base-spacing) * 0.5) var(--base-spacing);
}

/* .hero a:hover {
  background-color: var(--secondary-variant);
} */

footer {
  border-top: var(--border-primary);
  padding: calc(var(--base-spacing) * 2);
}

footer a {
  color: silver;
}

footer ul {
  display: flex;
  justify-content: space-around;
}

.read-more-btn {
  background: white;
  padding: var(--base-spacing);
  border-radius: var(--base-spacing);
  margin: var(--base-spacing);
  max-width: 120px;
  align-self: center;
  text-align: center;
  max-width: calc(var(--base-spacing) *);
  text-decoration: none;
}

section p {
  margin-bottom: auto;
}

section {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  header {
    display: flex;
    flex-direction: row;
    padding: 32px;
    background-color: var(--primary);
    align-content: center;
  }
  .is-hidden--tablet {
    font-size: 0;
    height: 0;
  }
}

@media screen and (min-width: 1068px) {
  /* header {
    display: flex;
    flex-direction: row;
    align-items: center;
  } */
  div.hero {
    height: 100vh;
    max-height: 600px;
  }


  nav ul {
    display: flex;
    justify-content: space-around;
  }

  .is-hidden--desktop {
    font-size: 0;
    height: 0;
  }

  .is-shown--desktop {
    font-size: initial;
  }

  .flex-container--desktop {
    display: flex;
  }

  .flex-row--desktop {
    display: flex;
    flex-direction: row;
  }

}



/* contact page stuff */

form {
  display: flex;
  flex-direction: column;
  padding: var(--base-spacing)
}


input,
textarea {
  border: 1px solid var(--gray);
  max-width: 80vw;
}


form div {
  display: flex;
  margin: var(--base-spacing);
  flex-direction: column;
}

input[type="submit"] {
  display: inline-block;
  max-width: calc(var(--base-spacing) * 18);
  text-align: center;
  min-height: calc(var(--base-spacing) * 8);
  color: var(--grey);
  border-radius: var(--base-spacing);
  margin: 20px 0;
}


#submit {
  margin-left: 6px;
}

#msg {
  max-width: 662px;
}

.is-error {
  border: 1px solid red;
}

.is-success {
  border: 1px solid green;
}

#pls-center {
  display: flex;
  justify-content: center;
}
