:root {
  --primary: #5c9090;
  --primary-variant: #235258;
  --secondary: #f7b09d;
  --secondary-variant: #edcabd;
  --white: #f7f6f4;
  --gray: #C8D1CC;
  --gray-variant: #3a4a4c;
  --base-spacing: 4px;
}

h2 {
  background-color: var(--primary);
  margin: calc(var(--base-spacing) * 4);
  padding: calc(var(--base-spacing) * 1);
  color: var(--white);
}

body {
  background-color: var(--white);
  font-family: "Merriweather", serif;
  margin: calc(var(--base-spacing) * 2)
}

p {
  color: var(--gray-variant);
}

a {
  color: var(--gray-variant);
}

a:hover {
  color: var(--secondary);
}

section {
  margin-bottom: calc(var(--base-spacing) * 8);
}

section:nth-of-type(odd) {
  background-color: var(--secondary-variant);
}

header {
  background-color: var(--gray);
  padding: calc(var(--base-spacing) * 2);
}


.fas {
  font-size: 48px;
}

nav .fas {
  margin: var(--base-spacing);
  transform: translateX(calc(100vw - 72px));
  position: absolute;
}

/*Layout*/

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}


h1 {
  text-align: center;
}

img {
  border-radius: 50%;
  box-shadow: calc(var(--base-spacing) * 0.5)var(--base-spacing);
  margin-bottom: 16px;
}

/* figure {
  display: flex;
  flex-direction: column;
  align-items: center;
} */


/* Nav */
nav ul {
  list-style-type: none;
}

nav a {
  text-decoration: none;
}

nav li {
  padding: var(--base-spacing) 0;
}

ul {
  padding: 0;
  text-align: center;
}

/* nav a:hover {
  background: var(--secondary-variant);
} */
